.sidebar {
    flex:3;
    height:calc(100vh-50px);
    position:sticky;
    top:50px;
}

.sidebarWrapper {
    margin-left:45px;
    margin-top:30px;
}

.card-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shopbtn{
    border:none;
    border-radius:20px;
    background-color:lawngreen;
    color:black;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:10px;
    padding-right:10px;
    margin-left:100px;
}

.add2{
    margin-top:40px;
}

@media only screen and (max-width: 600px) {
    .sidebar{
        display:none;
    }
}